.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid grey;
}

.logo {
    width: 75px;
    padding: 3px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.card {
    width: 200px;
    margin: 10px;
    border: 1px solid rgb(47, 130, 255);
    padding: 3px;
    border-radius: 3%;
}

.card > img {
    width: 100%;
    border-radius: 3%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

/* Shimmer Card Style */
.shimmerCard {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    height: 350px;
    overflow: hidden;
    width: 200px;
    margin: 10px;
}

.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #E5F0FB;
    background: linear-gradient(to right, #c1dceb 4%, #a3cbe1 25%, #c1dceb 36%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}
  
.media {
    height: 100px;
}

.p-32 {
    padding: 32px;
}

.title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 20px;
}

.content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}
  
.end {
    width: 40%;
}


.m-t-24 {
    margin-top: 24px;
}